/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";


/*** Bootstrap custimation ***/
.indent { text-indent: 50px; }
.panel-heading {background: lightgrey;}
.content_block { margin: 0px 10px; }
.img-thumb {width: 100px; height: auto;}


/*** Branding ***/
#branding h1 {
	min-width: 400px;
}

#branding h1 a {
	font: italic 1.1em Georgia, "Times New Roman", Times, serif;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

#branding h1 a span {
	font: italic 0.7em Georgia, "Times New Roman", Times, serif;
	color: #6da9d2;
}
#branding a:link, #branding a:visited, #branding a:hover, #branding a:active,  { 
    text-decoration:none; 
}

.welcome-page-head {
	height: 500px;
    min-height: 500px;
    background: url('/images/Bend_Homes_cinemagraph.gif') no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.welcome-page-head .banner-search-wrap {
	position: absolute;
    top: 50%;
    width: 100%;
    background: rgba(0,0,0,.35);
    height: 280px;
    margin-top: -140px;
    color: #fff;
}

.welcome-page-head .banner-search-wrap h1 {
    color: #fff;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 58px;
    text-transform: none;
}

.header-search {
    background: rgba(0,0,0,.5);
    border: 1px solid #222;
    max-width: 820px;
    margin: 0 auto;
}

.header-search .form-search {
	margin: 0;
    padding: 10px;
}

.header-search .form-search > div {
    width: 73%;
}

.header-search .form-search-fields {
    display: inline-block;
    position: relative;
	width: 75%;
}

.header-search input[type=text].form-search-text {
    height: 46px;
    width: 98%;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .05em;
    text-indent: 10px;
}

.header-search .form-search-button {
    width: 25%;
    border: 1px solid #02888f;
    background: #02888f;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .05em;
    height: 46px;
    text-transform: uppercase;
}


/* Image Gallery Layout */
.image-gallery-search {
    background: rgba(96, 125, 139, 0.55);
    border: 1px solid #222;
    margin: 0 auto;
}

.image-gallery-search .form-search {
	margin: 0;
    padding: 10px;
}

.image-gallery-search .form-search > div {
    width: 73%;
}

.image-gallery-search .form-search-fields {
    display: inline-block;
    position: relative;
	width: 100%;
}

.image-gallery-search .form-search-label {
	text-align: center;
}

.image-gallery-search .form-search-text {
    height: 46px;
    width: 98%;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .05em;
    text-indent: 10px;
}

.image-gallery-search .form-search-date {
    height: 46px;
    width: 98%;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .05em;
    text-indent: 10px;
}

.image-gallery-search .form-search-button {
    border: 1px solid #02888f;
    background: #02888f;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .05em;
    height: 46px;
    text-transform: uppercase;
}

.image_gallery_panel {
    margin-bottom: 5px;
	height: 265px;
	width: 265px;
	overflow: hidden;
	/*
	border: solid;
	border-width: 1px;
	*/
}

img.image_gallery_img {
	position:absolute;
	z-index:-1;
	top: 50%;
	left: 50%;
	width: 98%;
	transform:translate(-50%, -50%); 
	&.max{ width:auto; height:100%;}

	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);

}

.image_gallery_caption {
	background-color: #eeeeee;
	font: 0.8em Arial, Tahoma, sans-serif;
	color: #33393c;
	border-radius: 10px;
	opacity: 0.95;
	padding: 10px;
	z-index: 100;
	overflow: hidden;
	position: absolute;
	bottom: 0;
    margin-left: -10px;
}

.modal_image {
	width: 100%;
	height: auto;
}


/*** Pagination ***/
.pagination { margin: 0px 10px; }
.pagination ul.pagination { display: inline-block; padding: 0; margin: 0; }
.pagination ul.pagination li {display: inline;}
.pagination ul.pagination li a { color: black; float: left; padding: 8px 16px; text-decoration: none; border: 1px solid #ddd; }
.pagination ul.pagination li a.active { background-color: #4CAF50; color: white; }
.pagination ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.flickr_pagination { text-align: center; padding: 0.3em; cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em { padding: 0.2em 0.5em; }
.flickr_pagination .disabled { color: #aaaaaa; }
.flickr_pagination .current { font-style: normal; font-weight: bold; color: #ff0084; }
.flickr_pagination a { border: 1px solid #dddddd; color: #0063dc; text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus { border-color: #003366; background: #0063dc; color: white; }
.flickr_pagination .page_info { color: #aaaaaa; padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page { border-width: 2px; }
.flickr_pagination .previous_page { margin-right: 1em; }
.flickr_pagination .next_page { margin-left: 1em; }

